.gpu-image-container {
    .gpu-image {
        height: 135px;

        .gpu-fan {
            transform-box: fill-box;
            transform-origin: center;

            &.animated {
                -webkit-animation: rotating infinite linear forwards;
                -moz-animation: rotating infinite linear forwards;
                -ms-animation: rotating infinite linear forwards;
                -o-animation: rotating infinite linear forwards;
                animation: rotating infinite linear forwards;
            }
        }
    }
}

@-webkit-keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
