@import "src/assets/scss/colours";

.fan-container {
    width: 35%;
    height: auto;

    display: flex;
    flex-flow: row;

    .fan-image-container {
        .fan-image {
            width: 135px;
            height: 135px;

            .fan {
                transform-box: fill-box;
                transform-origin: center;

                &.animated {
                    -webkit-animation: rotating infinite linear forwards;
                    -moz-animation: rotating infinite linear forwards;
                    -ms-animation: rotating infinite linear forwards;
                    -o-animation: rotating infinite linear forwards;
                    animation: rotating infinite linear forwards;
                }
            }
        }
    }

    .fan-data-container {
        padding: 5px 10px;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        h2 {
            width: 100%;

            color: $secondary-foreground-colour;

            margin: 0 auto;

            font-family: sans-serif;
            text-align: center;
        }
    }
}

@-webkit-keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
