<svg width="155" height="75">
    <defs>
        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
            <stop offset="0%" stop-color="#16787d"></stop>
            <stop offset="10%" stop-color="#129299"></stop>
            <stop offset="25%" stop-color="#0ea8b0"></stop>
            <stop offset="50%" stop-color="#04c9d3"></stop>
        </linearGradient>
        <mask id="sparkline" x="0" y="0" width="150" height="75">
            <polyline transform="translate(0, 75) scale(1,-1)"
                [attr.points]="pointsString" fill="transparent"
                stroke="#8cc665" stroke-width="2">
            </polyline>
        </mask>
    </defs>

    <g transform="translate(0, 2.0)">
        <rect x="0" y="-2" width="155" height="75" style="stroke: none; fill: url(#gradient); mask: url(#sparkline)">
        </rect>
    </g>
</svg>