<div style="height: auto;">
    <div class="version-container">
        <p class="version">v{{ appVersion }}</p>
    </div>

    <app-cpu-container *ngIf="gpu != undefined" [cpuModel]="cpuModel" [cpu]="cpu"></app-cpu-container>

    <app-memory-container *ngIf="memory != undefined" [memory]="memory"></app-memory-container>

    <app-gpu-container *ngIf="gpu != undefined" [gpuModel]="gpuModel" [gpu]="gpu"></app-gpu-container>

    <div class="fan-container">
        <app-fans-container *ngIf="fans != undefined" [fans]="fans"></app-fans-container>
    </div>
</div>