#Shape_327_, #Layer_2 {
    transform-box: fill-box;
    transform-origin: center;

    -webkit-animation: rotating infinite linear forwards;
    -moz-animation: rotating infinite linear forwards;
    -ms-animation: rotating infinite linear forwards;
    -o-animation: rotating infinite linear forwards;
    animation: rotating  linear infinite forwards;
}

@-webkit-keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fan-container {
    width: 700px;
    height: 700px;
}