@import "src/assets/scss/colours";

.version-container {
    width: auto;

    position: absolute;
    right: 5px;
    bottom: 5px;

    .version {
        color: $secondary-foreground-colour;

        margin: 0;

        font-family: sans-serif;
        font-size: 1em;
    }
}
