@import "src/assets/scss/colours";

.cpu-title-container {
    .cpu-title {
        color: $primary-foreground-colour;
    }
}

.cpu-data-container {
    margin-bottom: 50px;

    display: flex;

    .cpu-info-container {
        max-width: 1000px;

        display: grid;
        grid-template-areas:
            "app-key-value-text app-key-value-text"
            "app-key-value-text";
        grid-gap: 10px 15px;
    }

    .cpu-image-container {
        padding: 5px 30px 5px 0;

        display: flex;
        justify-content: center;
        align-items: center;

        .cpu-image {
            svg {
                height: 140px;
            }
        }

        .cpu-load-data-container {
            padding: 5px 10px;

            h2 {
                width: 100%;

                color: $secondary-foreground-colour;

                margin: 0 auto;

                font-family: sans-serif;
                text-align: center;
            }
        }
    }
}
